<form #Register="ngForm" (ngSubmit)="getUserRegistered(Register.value)" method="post">


    <div class="form-group ">
        <label style="color: white;">Enter your Name:</label>
        <input type="text" class="form-control " placeholder="Judge ID" required="required" name="judgeName" ngModel />
    </div>
    <br>
    <div class="form-group ">
        <label style="color: white;">Enter your JudgeID:</label>
        <input type="password" class="form-control " placeholder="Password" required="required" name="password"
            ngModel />
    </div>

    <div class="form-group">
        <label style="color: white;">Select Court:</label>
        <select class="custom-select border-0 px-4" style="height: 47px;" name="selectCourt" ngModel>
            <option selected>Select A Court</option>
            <option value="District">District Court</option>
        </select>
    </div>
    <div>
        <a routerLink="/register" class="mb-2">Already Registered? Click Here to Login</a>
    </div>
    <div>
        <input class="btn btn-primary btn-block border-0 py-3" type="submit" value="Login" />
    </div>
</form>